Source: ickle
Section: net 
Priority: optional
Maintainer: Dominik 'Aeneas' Schnitzer <dominik@schnitzer.at>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: ickle
Architecture: any
Depends: ${shlibs:Depends}
Description: An ICQ2000 client for GTK+
 Ickle is an ICQ client which is able to communicate with ICQ servers
 using the new ICQ2000 protocol. This offers much better reliability
 than the older ICQ99 protocol and enables additional functionality
 such as:
    * Sending SMS messages

Package: ickle-dev
Architecture: any
Depends: ickle 
Description: The development files for Ickle
 The development files for Ickle. Ickle is an ICQ2000 capable ICQ
 client.

Package: ickle-gnome
Architecture: any
Depends: ${shlibs:Depends}
Description: The Ickle GNOME panel applet
 The GNOME panel applet for Ickle. Ickle is an ICQ2000 capable ICQ
 client.
