Source: ickle
Section: net 
Priority: optional
Maintainer: Dominik 'Aeneas' Schnitzer <dominik@schnitzer.at>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: ickle
Architecture: any
Depends: ${shlibs:Depends}
Description: An icq2000 client for GTK+
 ickle provides you with an ICQ client able to communicate with the icq servers
 using the new icq2000 protocol. This enables additional functionality such as:
    * Sending SMS messages
