#!/usr/bin/make -f

# Debian package building script for ickle
# Dominik 'Aeneas' Schnitzer <dominik@schnitzer.at>
#
# ickle - http://ickle.sourceforge.net/

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

# Required for the GNOME Applet to configure the right way
export ACLOCAL_FLAGS=-I /usr/share/aclocal/gnome

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure --prefix=/usr --sysconfdir=/etc --with-gnome=no
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install the non-gnome binaries
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

	# Clean out ickle directory, ready for gnome compile
	-$(MAKE) -C ickle clean

	# Reconfigure for gnome and recompile
	./configure --prefix=/usr --sysconfdir=/etc --with-gnome=yes
	$(MAKE) -C ickle
	$(MAKE) -C ickle install DESTDIR=$(CURDIR)/debian/tmp

	# Move files into the correct package directories
	dh_movefiles

	ln -s ickle-common $(CURDIR)/debian/ickle/usr/share/doc/ickle
	ln -s ickle-common $(CURDIR)/debian/ickle-gnome/usr/share/doc/ickle-gnome

binary-indep:
# Nothing to do

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdebconf -a
	dh_installdocs -a
	dh_installmenu -a
	dh_installman -a
	dh_installchangelogs -a ChangeLog
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch
.PHONY: build clean binary-arch binary-indep binary install configure
